# Configuration de la base de données
DB_NAME=votre_nom_de_bdd
DB_HOST=localhost
DB_PORT=3306
DB_LOGIN=votre_identifiant
DB_PASSWORD=votre_mot_de_passe

# Configuration de l'envoi de mail (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre_email@gmail.com
SMTP_PASS=votre_mot_de_passe_application_16_lettres

# Configuration de l'application
ADMIN_EMAIL=votre_email_de_reception@gmail.com