/* ===================== Pages d'Authentification (Login, Forgot, Reset) ===================== */
@use "variables" as *;

.auth-container {
    padding: 40px 5%;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h2 {
        font-family: $fontTitreLogo;
        color: $couleurPrimaire;
        font-size: 1.8rem;
        margin-bottom: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    /* Formulaire */
    .auth-section {
        width: 100%;
        max-width: 100%;
        background: #fff;
        padding: 30px 20px;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;

        form {
            display: flex;
            flex-direction: column;

            p {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    font-weight: bold;
                    margin-bottom: 8px;
                    font-family: $fontBase;
                }

                input {
                    padding: 12px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    font-size: 1rem;
                    transition: all 0.3s ease;

                    &:focus {
                        outline: none;
                        border-color: $couleurSecondaire;
                        box-shadow: 0 0 5px rgba($couleurSecondaire, 0.2);
                    }
                }

                /* Bouton de soumission */
                .btn-auth {
                    background-color: $couleurPrimaire;
                    color: white;
                    border: none;
                    padding: 15px;
                    font-size: 1.1rem;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;
                    text-transform: uppercase;
                    margin-top: 10px;

                    &:hover {
                        background: darken($couleurPrimaire, 10%);
                    }
                }
            }

            /* Liens formulaire */
            a {
                text-align: center;
                color: $couleurPrimaire;
                text-decoration: none;
                margin-bottom: 10px;
                font-size: 0.9rem;

                &:hover {
                    text-decoration: underline;
                    color: $couleurSecondaire;
                }
            }

            /* Texte "Pas encore de compte ?" */
            .create_account {
                text-align: center;
                margin-top: 15px;
                font-size: 0.9rem;
                color: #666;
            }

            /* Messages */
            .error-message {
                color: #e74c3c;
                text-align: center;
                margin-bottom: 10px;
            }

            .success-message {
                color: #16a34a;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

    /* Liens de retour */
    .back-link {
        a {
            color: $couleurPrimaire;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Tablette / PC  */
@media (min-width: 769px) {
    .auth-container {

        h1,
        h2 {
            font-size: 2.2rem;
        }

         .auth-section  {
            max-width: 450px;
            padding: 40px;
        }
    }
}