/* ===================== Page d'accueil ===================== */
@use "variables" as *;
@use "mixins" as *;

/* ========== intro ========== */
.intro-home-container {

    padding: 40px 5%;
    text-align: left;

    .intro-home {
        margin: 0;
        width: 100%;
    }

    h1 {
        font-size: 1.75rem;
        color: $couleurPrimaire;
        margin-bottom: 1.5rem;
        max-width: 100%;
        text-align: left;
    }

    p {
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: 1.2rem;
        text-align: left;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.15rem;
            max-width: 1100px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

/* ========== Section derniers voyages ========== */
.last-articles-container {
    padding: 40px 5%;

    /* Section titre */
    .last-articles-title {
        margin-bottom: 30px;

        h2 {
            font-size: 1.8rem;
            color: $couleurPrimaire;
            text-align: left;
            text-transform: uppercase;
            font-family: $fontTitreLogo;
        }
    }

    /* Div de l'article */
    .articles-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        /* Version PC */
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    /* Article */
    .last-article {
        @include article;
    }
}

/* ========== Section CTA ========== */
.home-cta-container {
    padding: 60px 5%;
    background-color: $couleurPrimaire;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 64px;

    .home-cta {
        max-width: 850px;

        h2 {
            font-size: 1.8rem;
            color: #ffffff;
            margin-bottom: 1rem;
            font-family: $fontTitreLogo;
            text-transform: uppercase;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.6;
            color: rgba(255, 255, 255, 0.9);
            margin-bottom: 2rem;
        }

        /* Bouton */
        .btn-cta {
            display: inline-block;
            padding: 15px 30px;
            background-color: #ffffff;
            color: $couleurPrimaire;
            text-decoration: none;
            border-radius: 4px;
            font-weight: 700;

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    /* Tablette et PC */
    @media (min-width: 768px) {
        padding: 80px 5%;

        h3 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.25rem;
        }
    }
}