/* ===================== Page my favorites ===================== */
@use "variables" as *;
@use "mixins" as *; 

.favorites-articles-container {
    padding: 40px 5%;

    min-height: 90vh;
    .favorites-articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        margin-top: 24px;

        .favorite-article {
            @include article; 
        }
    }
}


/* Tablette / PC */
@media (min-width: 768px) {
    .favorites-articles-container {
        padding: 60px 10%;

        .favorites-articles {
            gap: 40px;
        }
    }
}