/* ===================== Page modifier profil ===================== */

@use "variables" as *;


.admin-view-container {
    h1 {
        font-family: $fontTitreLogo;
        color: $couleurPrimaire;
        font-size: 2.2rem;
        margin-bottom: 30px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
}

/* Section formulaire */
.profile-edit-section {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-bottom: 90px;

    /* formulaire */
    form {
        display: flex;
        flex-direction: column;

        p {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                font-weight: bold;
                margin-bottom: 8px;
                color: #333;
                font-family: $fontBase;
            }

            /* Tous les inputs */
            input {
                padding: 12px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 1rem;
                transition: all 0.3s ease;

                &:focus {
                    outline: none;
                    border-color: $couleurSecondaire;
                }
            }

            /* Bouton Enregistrer */
            .btn-profile_edit {
                background-color: $couleurPrimaire;
                color: white;
                border: none;
                padding: 15px;
                font-size: 1.1rem;
                font-weight: bold;
                border-radius: 4px;
                margin-top: 10px;

                &:hover {
                    background: darken($couleurPrimaire, 10%);

                }

            }
        }

        /* Message d'erreur généré par setError() */
        .error-message {
            color: #e74c3c;
        }

        /* Message de succès généré par setSuccess() */
        .success-message {
            color: #16a34a;

        }
    }
}

/* Tablette / PC */
@media (min-width: 768px) {
    .admin-view-container {
        h1 {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    .profile-edit-section {
        max-width: 600px;
        margin: 0 auto 80px;
        padding: 50px;

        form {
            p {
                margin-bottom: 25px;
            }

            .btn-profile_edit {
                cursor: pointer;
                width: fit-content;
                padding: 15px 40px;
                align-self: center;
            }
        }
    }
}