/* Page informations personnelles (profile) */
@use "variables" as *;

/* Titre principal de la page */
#info-user-title {
    color: #2c3e50;
    text-align: center;
    font-family: $fontTitreLogo;
    margin: 20px 0;
    font-size: 1.5rem;
}

/* Conteneur principal des informations utilisateur */
.profile-user {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid #f0f0f0;
    width: 100%;
    margin: 20px auto 380px;
    p {
        font-size: 1rem;
        color: #444;
        line-height: 1.6;
        margin: 12px 0;
        padding-bottom: 8px;
        border-bottom: 1px dashed #eee;
        overflow-wrap: break-word;

        /* Dernier élément de conteneur */
        &:last-child {
            border-bottom: none;
            margin-top: 20px;
            color: $couleurSecondaire;
            font-weight: bold;
        }

        strong {
            color: $couleurPrimaire;
            display: block;
            margin-bottom: 4px;

            &:last-child {
                display: inline;
            }
        }
    }
}

/* Tablette / PC */
@media (min-width: 768px) {
    #info-user-title {
        margin-top: 32px;
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }

    .profile-user {
        max-width: 500px;
        padding: 2rem;
        margin: 32px auto 330px;
        p {
            font-size: 1.1rem;

            strong {
                display: inline-block;
                width: 100px;
                margin-bottom: 0;
            }
        }
    }
}