/* ========== Couleurs ========== */
$couleurPrimaire: #1A2A3A;
$couleurSecondaire: #F2994A;
$couleurTertiaire: #F8F9FA;

/* ========== Fonts ==========*/
$fontBase: 'Roboto', sans-serif;
$fontTitreLogo: 'Poppins', sans-serif;