@use "fonts" as *;
@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: $fontBase;
}

/* ===================== Header ===================== */
.header {
  background-color: $couleurPrimaire;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 5%;

  /* Menu et logo*/
  .menuIconeLogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Logo */
    a {
      color: $couleurTertiaire;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $fontTitreLogo;
    }

    /* Menu burger */
    .menuBurger {
      background-color: $couleurTertiaire;
      border: none;
      border-radius: 5px;
      width: 45px;
      height: 45px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      color: $couleurPrimaire;

      &:hover {
        background-color: $couleurSecondaire;
        color: $couleurTertiaire;
      }

      .icon-close {
        display: none;
      }
    }
  }

  /* Menu liens */
  .navMenu {
    position: absolute;
    top: 65px;
    right: 30px;
    width: 50%;
    background-color: $couleurTertiaire;
    display: none;
    padding: 20px 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin: 15px 0;
        width: 100%;
        text-align: center;

        a {
          color: $couleurPrimaire;
          font-size: 1.1rem;

          &:hover {
            color: $couleurSecondaire;
          }
        }

        /* sous-menu "Mon Compte" */
        .underMenu {
          display: none;
          margin-top: 20px;

          li {
            margin: 15px 0;

            a {
              font-size: 1.1rem;
            }
          }

          /* Sous-menu administrateur */
          .adminMenu {
            display: none;
            margin-top: 20px;

            li {
              margin: 15px 0;

              a {
                font-size: 1.0rem;


              }
            }

            &.open {
              display: block;
            }
          }

          /* Affichage s'il y a un clique */
          &.open {
            display: block;
          }
        }
      }
    }
  }

  /* Classe activée pour "Mon Compte" */
  &.active {
    .navMenu {
      display: block;
    }

    .menuIconeLogo .menuBurger {
      background-color: $couleurSecondaire;
      color: $couleurTertiaire;

      .icon-burger {
        display: none;
      }

      // margin: 0;

      .icon-close {
        display: block;
      }
    }
  }
}

/* ===================== Section hero ===================== */
.hero-video {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .hero-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

/* ===================== Section des derniers articles ===================== */
/* Section*/
.last-articles-container {
  padding: 40px 5%;

  /* Section titre */
  .last-articles-title {
    margin-bottom: 30px;

    h2 {
      font-size: 1.8rem;
      color: $couleurPrimaire;
      text-align: left;
      text-transform: uppercase;
      font-family: $fontTitreLogo;
    }
  }

  /* Div de l'article */
  .articles-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    /* Version PC */
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Article */
  .last-article {
    @include article;
  }
}

/* ===================== Footer ===================== */
.footer-container {
  background-color: $couleurPrimaire;
  color: #fff;
  padding: 20px 0;
  width: 100%;


  .footer-content {
    padding: 0 5%;
    text-align: left;

    p {
      margin: 0;
      font-size: 0.9rem;
      display: flex;
      gap: 5px;
    }

    .footer-link {
      color: #fff;
      transition: opacity 0.3s ease;

      &:hover {
        color: $couleurSecondaire;
      }
    }
  }
}


/* ===================== Header PC ===================== */
@media (min-width: 992px) {

  /* Header */
  .header {
    justify-content: space-between;

    .menuIconeLogo {
      width: auto;

      /*Cache le menu burger*/
      .menuBurger {
        display: none;
      }
    }

    /* Menu liens */
    .navMenu {
      position: static;
      display: block;
      width: auto;
      background-color: transparent;
      box-shadow: none;

      ul {
        flex-direction: row;
        gap: 30px;

        li {
          width: auto;

          a {
            color: $couleurTertiaire;

            &:hover {
              color: $couleurSecondaire;
            }
          }

        }
      }

      /* sous-menu "Mon Compte" */
      .underMenu {
        position: absolute;
        top: 70px;
        background-color: $couleurPrimaire;

        min-width: 200px;
        padding: 10px;


        li {
          text-align: left;
          padding: 5px 15px;
        }

      }
    }
  }
}